.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background: white;
  box-shadow: 2px 2px 30px rgb(201, 201, 201);
  overflow: scroll;
  h2 {
    padding: 2rem;
  }
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;
}

.library-song {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background 0.5s ease;
  img {
    width: 35%;
  }
  &:hover {
    background-color: rgb(232, 243, 250);
  }
  padding: 1rem 2rem;
}

.song-description {
  padding: 1rem;
  h3,
  h4 {
    margin: 0.5rem;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.7rem;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

.selected {
  background-color: rgb(241, 207, 241);
}

.active-library {
  transform: translateX(0%);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
