* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

h1,
h2 {
  color: rgb(54, 54, 54);
}

h3,
h4 {
  font-weight: 400;
  color: rgb(100, 100, 100);
}

.App {
  transition: all 0.5s ease;
}

.library-active {
  margin-left: 30%;
}

body.light-mode {
  transition: background-color 1s ease;
}
body.dark-mode {
  background-color: #1a1919;
  background: black;
  color: #999;
  transition: background-color 1s ease;
  h1,
  h2,
  h3,
  h4 {
    color: white;
  }
  .library {
    background-color: black;
  }
  .selected {
    background-color: rgb(109, 72, 109);
  }
  div.library-song {
    &:hover {
      background-color: rgb(74, 114, 139);
    }
  }
  nav {
    button {
      background: white;
      border: 2px solid rgb(173, 173, 173);
      &:hover {
        background: rgb(65, 65, 65);
        color: white;
      }
    }
    .toggle input ~ label {
      background-color: #000;
      border-color: #006dc9;
    }

    .toggle input ~ label::after {
      background-color: #0054b0;
      transform: translateX(24px);
    }
  }
}

@import "./player";
@import "./song";
@import "./library";
@import "./nav";
